<header class="header">
  <div class="logo" (click)="reset()">
    <img loading="lazy" src="assets/images/logo.svg" />
  </div>

  <div class="searcher">
    <app-searcher></app-searcher>
  </div>

  <div class="favourites">
    <button class="btn" (click)="openFavs()">
      <span class="btn__text"></span>
      <img *ngIf="activatedFavs" src="assets/images/pixel-red-heart.png" loading="lazy" alt="heart" />
      <img *ngIf="!activatedFavs" src="assets/images/pixel-gray-heart.png" loading="lazy" alt="heart" />
    </button>
  </div>
</header>
