<div class="searcher__box">
  <span class="icon" (click)="focusInput()">
    <img
      src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-magnifier-infographic-elements-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"
      alt="magnifier"
      loading="lazy"
    />
  </span>

  <div class="input-search">
    <label class="input">
      <input id="filter" class="input__field" type="text" [(ngModel)]="searchValue" (input)="filterChange()" />
      <span class="input__label" [ngClass]="{ input__animation: inputHasText }">Buscar...</span>
    </label>
  </div>
</div>
