<div class="wrapper">
  <div class="container">
    <div class="top">
      <div class="img__wrap">
        <img class="img__image" loading="lazy" [src]="product?.image" />
        <div class="img__description">{{ product?.description }}</div>
      </div>
      <div class="like-container">
        <label class="like">
          <input type="checkbox" />
          <div class="heart"></div>
        </label>
      </div>
    </div>
    <div class="bottom">
      <div class="details">
        <h1 class="title">{{ product?.title }}</h1>
        <p class="email">{{ product?.email }}</p>
        <p class="price">{{ product?.price | number: '':'es-ES' }}&nbsp;€</p>
      </div>
    </div>
  </div>
</div>
