<div #modal class="favs-modal">
  <div class="bar">
    <span>Lista de favoritos ({{ products.length }})</span>
    <button (click)="close()" class="close">✖</button>
  </div>

  <div class="fav-searcher">
    <input type="text" placeholder="Busca en tus favoritos..." (input)="filterChange($event.target)"/>
  </div>

  <div class="grid-favs">
    <div *ngFor="let p of filteredProducts">
      <app-fav-product [prod]="p" (remove)="removeFav($event)"></app-fav-product>
    </div>
  </div>

  <div *ngIf="filteredProducts.length === 0" class="empty">
    <img src="https://es.wallapop.com/assets/images/commons/sad.svg" loading="lazy" alt="No hay resultados" />
    <span>Nada por aquí</span>
  </div>
</div>

<div class="backdrop" (click)="close()"></div>
